# First thing to do, make a copy of this notebook under File->Make a Copy with some intelligent naming convention.

---

# Set your observing times here.

## NB: This will be a broader window that you'll actually use. The final output will give you orbit-by-orbit pointing information. So you can use a subset of the orbits that are chosen here.

In [5]:
from datetime import datetime
tstart = '2017-08-13T00:00:00'
tend = '2017-08-14T00:00:00'
 
# Turn these into datetime objects

tstart = datetime.strptime(tstart, '%Y-%m-%dT%H:%M:%S')
tend = datetime.strptime(tend, '%Y-%m-%dT%H:%M:%S')

---
# Step 1, get the nominal RA/Dec Position for the Moon at the start.

## We use this to determine what the occultation times are.

In [6]:
from skyfield.api import Loader
from astropy.time import Time
import astropy.units as u

load = Loader('../../data')

ts = load.timescale()
planets = load('de436.bsp')

astro_time = Time(tstart)
t = ts.from_astropy(astro_time)
moon, earth = planets['moon'], planets['earth']
astrometric = earth.at(t).observe(moon)
ra, dec, distance = astrometric.radec()


occstring = "./occ {0:0.4f} {1:0.4f} Latest_TLE.txt {2}:{3}:00:00:00 {4}:{5}:00:00:00 lunar_{3}_{5}.occ".format(
      ra.to(u.deg).value, dec.to(u.deg).value,
      tstart.timetuple().tm_year, tstart.timetuple().tm_yday, 
      tend.timetuple().tm_year, tend.timetuple().tm_yday)


outfile = '../orbit_engine/lunar_{0}to{1}.sh'.format(tstart.timetuple().tm_yday, tend.timetuple().tm_yday)
print(outfile)

f = open(outfile, 'w')
f.write(occstring)
f.close()


import os
import stat

st = os.stat(outfile)
os.chmod(outfile, st.st_mode | stat.S_IEXEC)

../orbit_engine/lunar_194to195.sh

In [8]:
planets.names()

{0: ['SOLAR_SYSTEM_BARYCENTER', 'SSB', 'SOLAR SYSTEM BARYCENTER'],
 1: ['MERCURY_BARYCENTER', 'MERCURY BARYCENTER'],
 2: ['VENUS_BARYCENTER', 'VENUS BARYCENTER'],
 3: ['EARTH_BARYCENTER',
  'EMB',
  'EARTH MOON BARYCENTER',
  'EARTH-MOON BARYCENTER',
  'EARTH BARYCENTER'],
 4: ['MARS_BARYCENTER', 'MARS BARYCENTER'],
 5: ['JUPITER_BARYCENTER', 'JUPITER BARYCENTER'],
 6: ['SATURN_BARYCENTER', 'SATURN BARYCENTER'],
 7: ['URANUS_BARYCENTER', 'URANUS BARYCENTER'],
 8: ['NEPTUNE_BARYCENTER', 'NEPTUNE BARYCENTER'],
 9: ['PLUTO_BARYCENTER', 'PLUTO BARYCENTER'],
 10: ['SUN'],
 199: ['MERCURY'],
 299: ['VENUS'],
 301: ['MOON'],
 399: ['EARTH']}

---
# Step 2: Go run the code that figures out the unocculted periods for the RA/Dec and the date range reported above.

This works on lif. There are example shell scripts in the ../orbit_engine directory that use the version that Karl already compiled for the nuops users.

First, get the latest TLE archive:

`./get_latest_TLE.sh`

Run the script that was produced above.

# Step 3: Initialize your libraries and parse the resulting occultation file:

In [3]:
from nustar_planning import io
occfile= "../orbit_engine/lunar_{0}_{1}.occ".format(tstart.timetuple().tm_yday,tend.timetuple().tm_yday )

orbits = io.parse_occ(occfile)

# NB: The "head" command here only shows the first couple of rows. Do a "print(orbits)" to see them all.
orbits.head()

               visible             occulted
0  2017-07-13 00:22:04  2017-07-13 01:17:59
1  2017-07-13 01:58:44  2017-07-13 02:54:38
2  2017-07-13 03:35:24  2017-07-13 04:31:18
3  2017-07-13 05:12:03  2017-07-13 06:07:57
4  2017-07-13 06:48:43  2017-07-13 07:44:37

# Use SkyField to get the location of Jupiter for each orbit:

This puts the output into the provided text file. This shows the *aim* time that was used to determine the pointing. You should slew while the source is occulted.

In [4]:
from nustar_planning import lunar_planning
outfile = 'lunar_{0}_{1}_pointing.txt'.format(tstart.timetuple().tm_yday,tend.timetuple().tm_yday )
lunar_planning.position(orbits, load_path ='../../data',
                 parallax_correction=True,
                 outfile=outfile, show=True)
print("Output is stored in: {}".format(outfile))

Aim Time            RA         Dec
2017-07-13T00:22:04 337.44450  -10.85557
2017-07-13T00:22:04 337.46482  -10.91246
2017-07-13T00:22:04 337.01028  -10.90056
2017-07-13T00:22:04 336.35881  -10.80913
2017-07-13T00:22:04 335.90298  -10.67215
2017-07-13T01:58:44 338.27370  -10.61392
2017-07-13T01:58:44 338.30449  -10.66720
2017-07-13T01:58:44 337.85756  -10.65428
2017-07-13T01:58:44 337.20635  -10.56490
2017-07-13T01:58:44 336.74302  -10.43173
2017-07-13T03:35:24 339.10238  -10.36995
2017-07-13T03:35:24 339.14356  -10.41956
2017-07-13T03:35:24 338.70405  -10.40549
2017-07-13T03:35:24 338.05307  -10.31801
2017-07-13T03:35:24 337.58259  -10.18858
2017-07-13T05:12:03 339.93009  -10.12360
2017-07-13T05:12:03 339.98245  -10.16955
2017-07-13T05:12:03 339.55103  -10.15435
2017-07-13T05:12:03 338.90047  -10.06877
2017-07-13T05:12:03 338.42244  -9.94310
2017-07-13T06:48:43 340.75778  -9.87512
2017-07-13T06:48:43 340.82054  -9.91729
2017-07-13T06:48:43 340.39673  -9.90074
2017-07-13T06:48:43 339.74670  -9.81690
2017-07-13T06:48:43 339.26178  -9.69494
2017-07-13T08:25:22 341.58454  -9.62437
2017-07-13T08:25:22 341.65847  -9.66277
2017-07-13T08:25:22 341.24296  -9.64489
2017-07-13T08:25:22 340.59368  -9.56278
2017-07-13T08:25:22 340.10146  -9.44453
2017-07-13T10:02:02 342.41137  -9.37157
2017-07-13T10:02:02 342.49568  -9.40608
2017-07-13T10:02:02 342.08797  -9.38666
2017-07-13T10:02:02 341.43954  -9.30612
2017-07-13T10:02:02 340.94066  -9.19154
2017-07-13T11:38:41 343.23729  -9.11660
2017-07-13T11:38:41 343.33271  -9.14724
2017-07-13T11:38:41 342.93322  -9.12626
2017-07-13T11:38:41 342.28563  -9.04720
2017-07-13T11:38:41 341.77993  -8.93624
2017-07-13T13:15:21 344.06339  -8.85966
2017-07-13T13:15:21 344.16922  -8.88633
2017-07-13T13:15:21 343.77801  -8.86366
2017-07-13T13:15:21 343.13180  -8.78605
2017-07-13T13:15:21 342.61949  -8.67873
2017-07-13T14:52:00 344.88861  -8.60067
2017-07-13T14:52:00 345.00553  -8.62337
2017-07-13T14:52:00 344.62274  -8.59894
2017-07-13T14:52:00 343.97770  -8.52264
2017-07-13T14:52:00 343.45880  -8.41888
2017-07-13T16:28:40 345.71411  -8.33980
2017-07-13T16:28:40 345.84141  -8.35843
2017-07-13T16:28:40 345.46709  -8.33213
2017-07-13T16:28:40 344.82373  -8.25709
2017-07-13T16:28:40 344.29848  -8.15690
2017-07-13T18:05:20 346.53936  -8.07702
2017-07-13T18:05:20 346.67699  -8.09156
2017-07-13T18:05:20 346.31093  -8.06326
2017-07-13T18:05:20 345.66916  -7.98934
2017-07-13T18:05:20 345.13787  -7.89265
2017-07-13T19:41:59 347.36380  -7.81234
2017-07-13T19:41:59 347.51254  -7.82280
2017-07-13T19:41:59 347.15547  -7.79250
2017-07-13T19:41:59 346.51558  -7.71965
2017-07-13T19:41:59 345.97792  -7.62643
2017-07-13T21:18:39 348.18867  -7.54591
2017-07-13T21:18:39 348.34771  -7.55221
2017-07-13T21:18:39 347.99907  -7.51973
2017-07-13T21:18:39 347.36107  -7.44781
2017-07-13T21:18:39 346.81762  -7.35801
2017-07-13T22:55:18 349.01277  -7.27770
2017-07-13T22:55:18 349.18288  -7.27985
2017-07-13T22:55:18 348.84342  -7.24519
2017-07-13T22:55:18 348.20762  -7.17414
2017-07-13T22:55:18 347.65808  -7.08770
Output is stored in: lunar_194_195_pointing.txt